*.iml
*.iws
.kotlin
.gradle
kotlin-js-store/
node_modules/
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
Thumbs.db
out/
captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.hprof
.ktor/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
